@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}
.navbar{
    display: flex;
    height: 67px;
}
.navbar li{
    list-style: none;
    margin: 0 12px
}

.topleft{
    width: 50%;
    height: 155px;
}
.topright{
    width: 50%;
    padding: 12px 0; 
}

.section1{
    
}

.section2{
    padding-left: 23px;
    padding-right: 23px;
}

.section2 h1{
    font-size: 2.2rem;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 21vw;
    border: 2px solid rgba(0, 0, 0, 0.132);
    text-align: center;
    border-radius: 8px;

}

.highlighted {
    font-size: 1.4rem;
    font-weight: 550;
}
.box ul{
    list-style-type: none;
}

.box ul li{
    margin: 12px 2px;
}
.box h2{
    font-size: 1.8rem;
    padding: 12px 0;
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 h1{
    padding: 16px 0;
}
.section3 table{
    width: 100%;
    margin: 35px 0;
    border-collapse:collapse ;
}
.section3 th{
    width: 23vw;
    border-bottom: 2px solid rgba(0, 0, 0, 0.392);
    padding: 15px 0;
}

.section3 table td{
    border-bottom: 2px solid rgba(0, 0, 0, 0.392);
}


.section3 h1{
    font-size: 2.2rem ;
}

.section3{
    padding-left: 63px;
    padding-right: 63px;
}

footer{
    padding: 23px;
    text-align: center;
}
